@charset "UTF-8";
.nav-item a {
  font-size: 1.3em;
  color: black;
  font-family: "Oswald";
}

.nav-item a:hover {
  color: #209be2;
}

.nav_banner img {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*Inicio footer estructura principal grillas */
#footer {
  background-color: rgb(233, 233, 233);
}

.section-grid {
  display: grid;
  grid-template-rows: 8fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "logo        nav       productos   contacto" ".            .           .          .    " "copyright  copyright  copyright   copyright";
  width: 100%;
}

/* Inicio de grid area para cada columna/fila*/
.footer-logo-col {
  grid-area: logo;
}

.footer-nav-col-1 {
  grid-area: nav;
}

.footer-nav-col-2 {
  grid-area: productos;
}

.footer-nav-col-3 {
  grid-area: contacto;
}

.footer-copyright-fila-3 {
  grid-area: copyright;
}

/*Incio estilos para cada fila/col de la grilla  estos son estilos que van a aplicar para todo el footer*/
.h2-footer {
  font-family: "Oswald";
  color: #209be2;
}

.ul-footer {
  padding-left: 0;
  padding-right: 0;
}

.li-footer {
  font-family: "Open Sans";
  margin-top: 10px;
}

.li-footer a:hover {
  color: #209be2;
}

/*estilos para logo columna 1 y fila 1 */
.logo-footer {
  width: 150px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*estilos  footer nav columna 2 fila 1 */
.footer-nav-col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

/*estilos  footer productos columna 3 fila 1 */
.footer-nav-col-2 {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

/*estilos  footer contacto columna 4 fila 1 */
.footer-nav-col-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.li-footer img {
  width: 5%;
}

/*estilos  footer copyright columna 1,2,3,4 fila 3 */
.footer-copyright-fila-3 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
  border-top: white 5px solid;
  justify-content: center;
}

.footer-copyright-fila-3 p {
  font-family: "Open Sans";
}

@media screen and (max-width: 780px) {
  .section-grid {
    display: grid;
    grid-template-rows: 1fr 1r;
    grid-template-areas: "nav" "productos" "contacto" "copyright";
  }
  /* Inicio de grid area para cada columna/fila*/
  .footer-nav-col-1 {
    grid-area: nav;
  }
  .footer-nav-col-2 {
    grid-area: productos;
  }
  .footer-nav-col-3 {
    grid-area: contacto;
  }
  .footer-copyright-fila-3 {
    grid-area: copyright;
  }
}
/*Inicio de styles para envios*/
.main-envios {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.main-envios .titulo-main-envios {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  font-family: "Oswald";
}
.main-envios .titulo-main-envios > img {
  width: 5%;
  padding-left: 30px;
}
.main-envios .info-envios {
  margin: auto; /* Centra horizontalmente el contenedor */
  text-align: justify;
  max-width: 80%;
  display: block;
  font-size: clamp(1.5rem, 2rem, 1em);
  font-family: "Open Sans";
}
.main-envios p::first-line {
  color: #209be2;
}

/*Inicio de styles para digital y offset */
.products-digital-offset {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.products-digital-offset .titulo-trabajos-digtal-offset {
  text-align: center;
  font-family: "Oswald";
  margin-bottom: 5%;
}
.products-digital-offset .service {
  width: 100%;
  height: 270px;
}
.products-digital-offset .trabajos {
  margin-top: 50px;
  gap: 100px;
}
.products-digital-offset .card {
  border: grey 0.5px solid;
  border-radius: 5%;
}
.products-digital-offset .card-body {
  padding-top: 0;
}
.products-digital-offset .card-body h5 {
  margin-bottom: 50px;
}
.products-digital-offset .btn {
  transition: transform 0.3s ease; /* Transición suave */
}
.products-digital-offset .btn:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

/*Inicio de styles para presupuestos*/
.main-presupuestos {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.title-main-presupuestos {
  font-family: "Oswald";
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-form {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #209be2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave */
}

.btn-form:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

@font-face {
  font-family: "Oswald";
  src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 2560px;
  color: rgb(0, 0, 0);
  /*te ayuda para ver todas las cajas de la pagina*/
  /*border: 1px black solid;*/
}

a {
  text-decoration: none;
  color: black;
}

#body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Inicio navbar*/
.nav-item a {
  font-size: 1.3em;
  color: black;
  font-family: "Oswald";
}

.nav-item a:hover {
  color: #209be2;
}

/*BANNER DE INICIO DE PAGINA */
.nav_banner img {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*Inicio main*/
#main {
  min-height: 100vh;
  font-family: "Open Sans";
  flex: 1;
  margin-bottom: 20px;
}

/*Inicio Section para botones*/
.container_main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container_main .box {
  width: 30%;
  height: 60px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave */
}
.container_main .box:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}
.container_main .maquinaria {
  background-color: #48c9b0;
}
.container_main .impresiones {
  background-color: #3498db;
}
.container_main .envios {
  background-color: #fcb037;
}
.container_main .contacto {
  background-color: #e74c3c;
}
.container_main .btn_text {
  padding-top: 12px;
  color: white;
  font-family: "Open Sans";
}
.container_main .h2_spacing {
  font-size: clamp(0.8rem, -1.5rem + 8vw, 2rem);
}

/*Inicio de informasion SERVICIOS, QUINES SOMOS, ETC*/
.main_info {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
}

.main_info h1 {
  border-bottom: #209be2 solid 3px;
  display: inline-block;
  margin-top: 20px;
  color: black;
  font-size: clamp(1rem, -1.5rem + 8vw, 2rem);
}

.main_info p {
  margin-top: 30px;
  margin-left: 25%;
  margin-bottom: 80px;
  max-width: 50%;
  text-align: center;
  color: black;
  font-size: clamp(0.8rem, -1.5rem + 8vw, 1.5rem);
}

.service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 100%;
  justify-content: center;
}
.service .service img {
  filter: brightness(0.8);
}
.service .service-icon {
  margin-right: 5px;
  align-self: center;
}
.service .service-icon img {
  width: 50px;
  align-self: center;
}
.service .service-ul {
  align-self: center;
}
.service .service-li {
  display: flex;
  padding-bottom: 50px;
}
.service .service-info {
  margin-left: 20px;
  border-left: rgb(0, 0, 0) 2px solid;
}
.service .service-info, .service h2, .service p {
  font-family: "Open Sans";
  margin-left: 20px;
  font-size: clamp(0.8rem, -1.5rem + 8vw, 1.5rem);
}
.service .service-info h2 {
  color: #209be2;
}

/*inicio media querries para inicio*/

/*# sourceMappingURL=style.css.map */
