@font-face {
    font-family: 'Oswald';
    src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    /*te ayuda para ver todas las cajas de la pagina*/
    /*border: 1px black solid;*/
}

a {
    text-decoration: none;
    color: black;
}


#body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

/*Inicio navbar*/

.nav-item a{
    font-size: 1.3em;
    color: black;
    font-family: 'Oswald';
}

.nav-item a:hover {
    color: #209be2;
}

/*BANNER DE INICIO DE PAGINA */

.nav_banner img{
    display: flex;
    width: 100%;
    height: 100vh;
}

/*Inicio main*/

#main {
    min-height: 100vh;
    font-family: 'Open Sans';
    flex: 1;
    margin-bottom: 20px;
}

/*Inicio Section para botones*/

.container_main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .box {
        width: 30%;
        height: 60px;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        transition: transform 0.3s ease; /* Transición suave */
    }

    .box:hover {
        transform: scale(1.1); /* Aumenta el tamaño al 110% */
    }
    
    .maquinaria {
        background-color: #48c9b0 ;
    }
    
    .impresiones {
        background-color: #3498db;
    }
    
    .envios {
        background-color: #fcb037 ;
    }
    
    .contacto {
        background-color: #e74c3c;
    }
    
    .btn_text{
        padding-top: 12px;
        color: white;
        font-family: 'Open Sans';
    }
    
    .h2_spacing {
        font-size: clamp(0.8rem, -1.5rem + 8vw, 2rem);
    }
}


/*Inicio de informasion SERVICIOS, QUINES SOMOS, ETC*/

.main_info {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

.main_info h1{
    border-bottom: #209be2 solid 3px;
    display: inline-block;
    margin-top: 20px;
    color: black;
    font-size: clamp(1rem, -1.5rem + 8vw, 2rem);
}

.main_info p {
    margin-top: 30px;
    margin-left: 25%;
    margin-bottom: 80px;
    max-width: 50%;
    text-align: center;
    color: black;
    font-size: clamp(0.8rem, -1.5rem + 8vw, 1.5rem);
}

.service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 100%;
    justify-content: center;

    .service img {
        filter: brightness(0.8);
    }
    
    .service-icon {
        margin-right: 5px;
        align-self: center;
    }
    
    .service-icon img {
        width: 50px;
        align-self: center;
    }
    
    .service-ul {
        align-self: center;
    }
    
    .service-li {
        display:flex;
        padding-bottom: 50px;
    }
    
    .service-info {
        margin-left: 20px;
        border-left: rgb(0, 0, 0) 2px solid;
    }
    
    .service-info , h2 , p {
        
        font-family: 'Open Sans';
        margin-left: 20px;
        font-size: clamp(0.8rem, -1.5rem + 8vw, 1.5rem);
    }
    
    .service-info h2 {
        color: #209be2;
    }
}




/*inicio media querries para inicio*/








