/*Inicio de styles para envios*/

.main-envios {
    margin-top: 100px;
    width: 100%;
    text-align: center;

    .titulo-main-envios{
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        font-family: 'Oswald';
    }
    
    .titulo-main-envios > img {
        width: 6%;
        padding-left: 30px;
    }
    
    .info-envios {
        margin: auto;    /* Centra horizontalmente el contenedor */  
        text-align: justify;
        max-width: 80%;
        display: block;
        font-size: clamp(1.5rem,2rem,1em);
        font-family: 'Open Sans';
    }

    p::first-line {
        color: $color;
    }
}