/*Inicio footer estructura principal grillas */

#footer {
    background-color: rgb(233, 233, 233);
}

.section-grid {
    display: grid;
	grid-template-rows: 8fr 2fr;
	grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
            /*Col1*/    /*Col2*/    /*Col3*/    /*Col4*/
    /*fila1*/"logo        nav       productos   contacto"
    /*fila2*/".            .           .          .    "
    /*fila3*/"copyright  copyright  copyright   copyright"
    ;
    width: 100%;
}

/* Inicio de grid area para cada columna/fila*/

.footer-logo-col{
	grid-area: logo;
}

.footer-nav-col-1{
	grid-area: nav;

}

.footer-nav-col-2 {
	grid-area: productos;

}

.footer-nav-col-3 {
	grid-area: contacto;
}

.footer-copyright-fila-3{
	grid-area: copyright;
}

/*Incio estilos para cada fila/col de la grilla  estos son estilos que van a aplicar para todo el footer*/

.h2-footer {
    font-family: 'Oswald';
    color: #209be2;
}

.ul-footer{
    padding-left: 0;
    padding-right: 0;
}

.li-footer {
    font-family: 'Open Sans';
    margin-top: 10px;
}

.li-footer a:hover {
    color: #209be2;
}    


/*estilos para logo columna 1 y fila 1 */

.logo-footer {
    width: 150px;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*estilos  footer nav columna 2 fila 1 */

.footer-nav-col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

/*estilos  footer productos columna 3 fila 1 */

.footer-nav-col-2 {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

/*estilos  footer contacto columna 4 fila 1 */

.footer-nav-col-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

.li-footer img {
    width: 5%;
}

/*estilos  footer copyright columna 1,2,3,4 fila 3 */

.footer-copyright-fila-3 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
    border-top: white 5px solid; 
    justify-content: center;
}

.footer-copyright-fila-3 p {
    font-family: 'Open Sans';
}